<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiyi.farm.dao.customer.CustomerDao">
    <resultMap id="customerMap" type="com.yiyi.farm.entity.customer.CustomerEntity">
        <result property="uid" column="player_id"/>
        <result property="server_id" column="server_id"/>
        <result property="phone" column="phone" />
        <result property="time" column="register_time"/>
        <result property="ip" column="register_ip" />
        <result property="name" column="name"/>
        <result property="hongbao" column="hongbao"/>

    </resultMap>
    <select id="findCustomerInfo" resultMap="customerMap">
        SELECT * FROM farm.center.player_name
    </select>

    <select id="getServerOfCust" resultType="java.lang.Integer" parameterType="java.lang.String">
      SELECT case(SELECT count(farm_edu.player.id) from farm_edu.player where farm_edu.player.nickname=#{phone})
      WHEN 1 then 1 when 0 then 2 end
    </select>
    
    <select id="getCustFromServer1" parameterType="java.lang.String" resultMap="customerMap">
        select farm_log.log_register.uid as player_id,farm_log.log_register.time as register_time,farm_edu.player.`name` as name,farm_edu.player.money,farm_edu.player.diamond from farm_edu.player,farm_log.log_register
        where farm_edu.player.nickname=#{phone} and farm_log.log_register.phone=#{phone}
    </select>

    <select id="getCustFromServer2" parameterType="java.lang.String" resultMap="customerMap">
        select farm_log.log_register.uid as player_id,farm_log.log_register.time as register_time,farm_edu_s02.player.`name` as name,farm_edu_s02.player.money,farm_edu_s02.player.diamond from farm_edu_s02.player,farm_log.log_register
where farm_edu_s02.player.nickname=#{phone} and farm_log.log_register.phone=#{phone}
    </select>
</mapper>
